<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier l'Article</title>
    <link rel="stylesheet" href="/styles/updateItem.css" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs", { user : null }) %>

    <header>
      <h1>Modifier l'Article</h1>
    </header>

    <form action="/item/<%= item._id %>/update" method="POST" id="updateForm">
      <div class="container">
        <label for="name">Nom de l'article:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="<%= item.name %>"
        />

        <label for="price">Prix:</label>
        <input
          type="number"
          id="price"
          name="price"
          step="0.01"
          placeholder="<%= item.price %>"
        />

        <label for="description">Description:</label>
        <textarea
          id="description"
          name="description"
          placeholder="<%= item.description %>"
        ></textarea>

        <label for="stock">Stock:</label>
        <input
          type="number"
          id="stock"
          name="stock"
          placeholder="<%= item.stock %>"
        />

        <div class="separator"></div>

        <label for="tags">Tags:</label>
        <div id="tagsContainer">
          <% item.tags.forEach(function(tag) { %>
          <input type="hidden" value="<%= tag %>" />
          <span id="<%= tag%>" class="tag"><%= tag %></span>
          <% }); %>
        </div>

        <label for="tagsInput">Ajouter/Supprimer un Tag:</label>
        <div class="label-section">
          <input
            type="text"
            id="tagsInput"
            name="tagsInput"
            placeholder="Ajouter ou supprimer un tag"
          />

          <div class="label-buttons">
            <button type="button" onclick="addTag()">Ajouter</button>
            <button id="deleteTag" type="button" onclick="removeTag()">
              Supprimer
            </button>
          </div>
        </div>
        <div class="separator"></div>

        <button id="submit-form">Enregistrer les modifications</button>
      </div>
    </form>

    <button id="delete-item" class="delete-button">Supprimer l'Article</button>

    <script>
      const item = JSON.parse(`<%- JSON.stringify(item) %>`);

      document
        .getElementById("delete-item")
        .addEventListener("click", (event) => {
          event.preventDefault();
          fetch(`http://localhost:6543/seller/item/${item._id}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          }).then((response) => {
            location.href = "/seller";
          });
        });

      document
        .getElementById("submit-form")
        .addEventListener("click", (event) => {
          event.preventDefault();
          updateItemDetails();
        });
      const addTag = () => {
        const tagsInput = document.getElementById("tagsInput");
        const tagsContainer = document.getElementById("tagsContainer");
        const tagValue = tagsInput.value.trim().toLowerCase();

        if (tagValue !== "") {
          const tagElement = document.createElement("span");
          tagElement.className = "tag";
          tagElement.id = tagValue;
          tagElement.textContent = tagValue;
          tagsContainer.appendChild(tagElement);
          item.tags.push(tagValue);
          tagsInput.value = "";
        }
      };

      const removeTag = () => {
        const tagsInput = document.getElementById("tagsInput");
        const tagsContainer = document.getElementById("tagsContainer");
        const tagValue = tagsInput.value.trim().toLowerCase();

        if (tagValue !== "") {
          tagElement = document.getElementById(tagValue);
          if (!tagElement) return console.error("this tag does not exist.");
          tagElement.remove();
          item.tags = item.tags.filter((tag) => tag !== tagValue);
          tagsInput.value = "";
        }
      };

      const updateItemDetails = () => {
        const { value: name } = document.getElementById("name");
        const { value: price } = document.getElementById("price");
        const { value: description } = document.getElementById("description");
        const { value: stock } = document.getElementById("stock");

        const itemDetails = {
          name,
          price,
          description,
          stock,
          tags: item.tags,
        };
        fetch(`http://localhost:6543/seller/item/${item._id}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(itemDetails),
        }).then((response) => {
          location.reload();
        });
      };
    </script>
  </body>
</html>
