<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails du Panier</title>
    <link rel="stylesheet" href="/styles/cartDetails.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1>Détails du Panier</h1>
    <div class="container cart-container">
      <div class="cart-items">
        <% if (user.cart.length === 0) { %>
        <p>Le panier est vide.</p>
        <% } else { %>
        <ul class="cart-items-list">
          <% user.cart.forEach(itemGroup => { %>
          <li class="cart-item">
            <div class="item-details">
              <h2><%= itemGroup[0].name %></h2>
              <p>
                <strong>Description:</strong> <%= itemGroup[0].description %>
              </p>
              <p><strong>Prix:</strong> <%= itemGroup[0].price %> €</p>
            </div>
            <div class="quantity-controls">
              <input
                type="number"
                value="<%= itemGroup.length%>"
                min="1"
                max="<%= itemGroup[0].stock%>"
              />
              <button
                value="<%= itemGroup[0]._id%>"
                class="quantity-control-btn increment"
              >
                +
              </button>
              <button id="decrement" class="quantity-control-btn decrement">
                -
              </button>
            </div>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </div>

      <div class="cart-summary">
        <h2>Résumé du Panier</h2>
        <p>Total d'articles: <%= user.cartLength%></p>
        <p>Total du Panier: <%= Math.round(user.totalCart * 100) / 100 %> €</p>
      </div>
    </div>
  </body>
  <script>
    const getCartLength = (cart) => {
      let cartLength = 0;
      cart.array.forEach((itemGroup) => {
        cartLength = cartLength + itemGroup.cartLength;
      });
      return cartLength;
    };
    const increment = ({ target: { value } }) => {
      const requestUri = "http://localhost:6543/item/addCart/" + value;
      fetch(requestUri, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((_) => {})
        .then((_) => {
          window.location.reload();
        })
        .catch((error) => console.log(error));
    };
    document.querySelectorAll(".increment").forEach((element) => {
      element.addEventListener("click", (event) => {
        event.preventDefault();
        increment(event);
      });
    });
  </script>
</html>
